@use '../base/typography';

.header {
  text-align: center;
  font-family: 'Decovar Alpha Regular24';
  display: grid;
  gap: var(--size-1);
  place-items: center;
  padding-top: 40px;
  padding-bottom: 25px;

  &__booktitle {
    font-variation-settings: 'BLDA' 750, 'TRMD' 750, 'TRMK' 50, 'WMX2' 0,
      'TRMG' 0, 'TRMB' 00, 'TRMF' 00, 'BLDB' 00, 'SKLA' 00;
    letter-spacing: 5px;
    font-size: calc(var(--size-fluid-1) * 5);
  }

  &__poemtitle {
    font-variation-settings: 'BLDA' 1000, 'BLDB' 100;
    font-size: calc(var(--size-fluid-1) * 3.5);
  }

  &__author {
    font-variation-settings: 'BLDA' 600, 'TRMD' 600, 'TRMK' 700, 'WMX2' 0,
      'TRMG' 0, 'TRMF' 1000, 'SKLA' 208;
    font-size: calc(var(--size-fluid-1) * 2);
  }

  &__image {
    max-width: calc(var(--size-fluid-5) * 4);
  }
}
