@font-face {
  font-family: 'RobotoSerif';
  src: url('/src/fonts/RobotoSerif-VariableFont_GRAD\,opsz\,wdth\,wght.ttf');
  font-weight: 200 600;
}

@font-face {
  font-family: 'Decovar Alpha Regular24';
  src: url('/src/fonts/DecovarAlpha-VF.woff2');
  unicode-range: U+0020-0024, U+0026-0028, U+002A-003D, U+003F-005A, U+005F,
    U+0061-007A, U+00A3, U+00AC, U+00D7, U+00DE, U+00F7, U+00FE, U+2019, U+2212;
}
